:root {
  --header-height: 3.75rem;

  /*========== Colors ==========*/
  --white: #FFF;
  --black: #000;
  --orange: #DF5237;
  --red: #A50000;

  --hue-color: 190;

  // #6694af;
  --blue-hue-color: 202;
  --gray-blue: hsl(var(--blue-hue-color), 31%, 54%);
  --gray-blue-light: hsl(var(--blue-hue-color), 30%, 92%);

  // #7bbb5d
  --green-hue-color: 101;
  --gray-green: hsl(var(--green-hue-color), 41%, 55%);
  --gray-green-light: hsl(var(--green-hue-color), 30%, 92%);

  // #bd8e59
  --orange-hue-color: 32;
  --gray-orange: hsl(var(--orange-hue-color), 43%, 55%);
  --gray-orange-light: hsl(var(--orange-hue-color), 30%, 92%);

  --nav-color: hsl(var(--hue-color), 0%, 13%);
  --text-color: hsl(var(--hue-color), 0%, 13%);

  --border-color: #e3ebf0;

  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  @media screen and (min-width: 768px){
    --nav-color: var(--white);
  }

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;

  --biggest-font-size: 2.5rem; // 40px
  --h1-font-size: 1.5rem; // 24px
  --h2-font-size: 1.25rem; // 20px
  --h3-font-size: 1rem; // 16px
  --font-size: .938rem; // 15px
  --small-font-size: .813rem; // 13px
  --smaller-font-size: .75rem; // 12px

  /*========== Font weight ==========*/
  --font-light: 200;
  --font-medium: 500;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --transition: .3s;
  --scale: scale(1.1);

  /*========== swiper ==========*/
  --swiper-theme-color: var(--orange);
}


$Development: true;