@import 'variables';
@import 'base';
@import 'pro';

// ============== Reusable CSS classes ==============
.section{
  padding: 1rem 0;

  &__title{
      font-size: var(--h2-font-size);
      color: var(--title-color);
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 2rem;
  }
}

.container {
  max-width: 1200px;
  margin-left: .5rem;
  margin-right: .5rem;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.text {
  &-red {
    color: var(--red);
  }
  &-blue {
    color: var(--blue);
  }
  &-green {
    color: var(--green);
  }
}

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #eaeaea;
}

// ============== Header ==============
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
}

.nav {
  height: var(--header-height);
  > .nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(90.13deg, #2e4c5d 49.89%, #aac5d4 94.65%);
  }
  .nav__left, .nav__right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav__toggle {
    width: 22px;
    height: 44px;
    background-image: url('/assets/image/icon_menu.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    cursor: pointer;
    &.show {
    background-image: url('/assets/image/icon_menu_open.svg');
    }
  }
  .nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    padding: .25rem;
  }
  .nav__menu {
    flex: 1 0 100%;
    .nav__title {
      display: none;
    }
    .has-submenu {
      &.show {
        .nav__submenu {
          max-height: 1000px;
        }
      }
      .nav__submenu {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: var(--transition) max-height, var(--transition) opacity;
        .nav__link {
          font-size: var(--small-font-size);
          color: hsl(var(--hue-color), 0%, 36%);
          &:active, &:hover {
            color: var(--gray-blue);
          }
        }
      }
      > .nav__link {
        display: flex;
        &::after {
          content: '';
          background-image: url('/assets/image/icon_submenu.svg');
          background-position: center;
          background-size: contain;
          display: block;
          width: 16px;
          height: 22px;
        }
      }
    }
  }
  .nav__contact {
    display: flex;
    padding: .5rem;
    a {
      display: block;
      height: 100%;
      margin: 0 .25rem;
      img {
        max-height: 40px;
      }
    }
  }
}
.nav__infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: .25rem;
  i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: var(--smaller-font-size);
    color: var(--white);
    background-color: var(--orange);
    border-radius: 50%;
    margin-right: .25rem;
  }
  li {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
    margin-top: .25rem;
  }
}
.nav__side {
  display: none;
}
.slider {
  position: relative;
  width: 100%;
  max-height: 550px;
  .swiper-pagination-bullet {
    background-color: var(--orange);
  }
}


// ============== Pro List ==============
.section {
  &.first {
    background: #aac5d4 url('/assets/image/first_bg1.png') left top/contain no-repeat;
  }
  &.second {
    background: #afd6cf url('/assets/image/first_bg2.png') right top/contain no-repeat;
    .pro {
      .pro__img {
        background: linear-gradient(180deg, #fefefe, var(--gray-green-light));
      }
      .pro__info {
        .tag__list {
          .tag {
            background-color: var(--gray-green);
          }
        }
        .stage {
          color: var(--gray-green);
        }
      }
    }
  }
  &.third {
    background: #e5d4bd url('/assets/image/first_bg3.png') right top/contain no-repeat;
    .pro {
      .pro__img {
        background: linear-gradient(180deg, #fefefe, var(--gray-orange-light));
      }
      .pro__info {
        .tag__list {
          .tag {
            background-color: var(--gray-orange);
          }
        }
        .stage {
          color: var(--gray-orange);
        }
      }
    }
  }
  .banner {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
  .pro {
    background-color: var(--white);
    border: 1px solid var(--border-color);
    border-top: 0;
    border-radius: 0 0 8px 8px;
    .pro__list {
      position: relative;
      padding: .5rem 0;
    }
    .pro__item {
      max-width: 220px;
      margin: 1rem auto;
    }
    .pro__img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 76px;
      text-align: center;
      background: linear-gradient(180deg, #fefefe, var(--gray-blue-light));
      border: 1px solid var(--border-color);
      padding: .5rem;
      margin-bottom: 0.25rem;
      a {
        display: block;
        height: 100%;
      }
      img {
        max-height: 100%;
      }
    }
    .pro__info {
      line-height: 1.3;
      .tag__list {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
        padding: .25rem 0;
        .tag {
          font-size: var(--smaller-font-size);
          color: var(--white);
          background-color: var(--gray-blue);
          padding: .15rem .25rem;
          border-radius: 1rem;
          white-space: nowrap;
        }
      }
      .price {
        font-size: var(--smaller-font-size);
        color: #b3b3b3;
      }
      .title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
      }
      .stage {
        font-size: var(--font-size);
        color: var(--gray-blue);
        font-weight: var(--font-medium);
      }
    }
  }
}

.swiper-container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
}
.swiper-btn-next, .swiper-btn-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #f9f9f9;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 90;
  transform: translateY(-50%);
  cursor: pointer;
  &:after {
    font-size: 1rem;
    color: #000;
  }
}
.swiper-btn-next {
  left: -12px;
}
.swiper-btn-prev {
  right: -12px;
}


// ============== Footer ==============
.footer {
  background-color: #fffaf6;
  padding: 2rem 0;
}
.footer__info {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  .nav__logo {
    width: 100px;
  }
}
.footer__group {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.footer__list {
  flex: 0 1 50%;
  margin-top: 1rem;
  .footer__link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    &.footer__link-title {
      font-size: var(--font-size);
      font-weight: var(--font-bold);
      color: var(--red);
    }
  }
}

// ============== responsive ==============

// ============== <768px
@media (max-width: 767.98px) {
  @if($Development == true) {
    body {
      &:after {
        content: '<768px';
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1999;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .nav {
    .nav__contact {
      display: none;
    }
    .nav__menu {
      position: fixed;
      top: var(--header-height);
      right: 0;
      height: 100%;
      width: 60%;
      max-width: 320px;
      background-color: var(--white);
      box-shadow: none;
      transform: translateX(100%);
      transition: var(--transition);
      &.show {
        transform: none;
        box-shadow: 0 8px 8px 5px hsl(0deg 0% 0% / 10%);
      }
      .nav__list {
        display: flex;
        flex-direction: column;
        height: calc(100% - var(--header-height));
        gap: 10px;
        padding: 2rem;
        overflow-x: hidden;
        .nav__link {
          display: flex;
          justify-content: space-between;
          color: var(--nav-color);
          padding: .5rem 1rem;
          &.active, &:active {
            background-color: #aac5d4;
          }
        }
      }
    }
  }
  .section .pro .pro__info {
    .tag__list, .price, .stage {
      display: none;
    }
    .title {
      font-size: 12px;
    }
  }
}

// ============== >=576
@media screen and (min-width: 576px){
  @if($Development == true) {
    body {
      &:after {
        content: '>576px';
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1999;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .section .pro {
    .pro__img {
      height: 120px;
    }
  }
}
// ============== >=768
@media screen and (min-width: 768px){
  @if($Development == true) {
    body {
      &:after {
        content: '>768px';
      }
    }
  }
  .container {
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    > .nav__top {
      height: 80px;
    }
    &::after {
      display: none;
    }
    .nav__toggle {
      display: none;
    }
    .nav__menu {
      background-image: linear-gradient(90.13deg, #2e4c5d 49.89%, #aac5d4 94.65%);
      .nav__inner {
        display: flex;
      }
      .nav__list {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 60px;
        gap: 10px;
        padding: 0 2rem;
        .nav__item {
          position: relative;
        }
        .nav__link {
          display: flex;
          align-items: center;
          font-size: var(--small-font-size);
          height: 60px;
          color: var(--white);
          white-space: nowrap;
        }
        .has-submenu {
          >.nav__link::after {
            background-image: url("/assets/image/icon_submenu_white.svg");
          }
          .nav__submenu {
            position: absolute;
            left: -20%;
            background-color: #fff;
            padding: 0 1rem;
            .nav__link {
              height: 40px;
            }
          }
          &.show, &:hover {
            .nav__submenu {
              opacity: 1;
              max-height: 1000px;
              box-shadow: 0 8px 8px 5px rgb(0 0 0 / 10%);
            }
          }
        }
      }
    }
  }
  .main {
    min-height: 600px;
    padding-top: 80px;
  }
  .footer__list {
    flex: auto;
  }
}

// ============== >=992
@media screen and (min-width: 992px) {
  @if($Development == true) {
    body {
      &:after {
        content: '>992px';
      }
    }
  }
  .nav {
    height: auto;
    .nav__menu {
      .nav__title {
        display: flex;
        align-items: center;
        flex: 1 0 210px;
        width: 210px;
        font-weight: var(--font-bold);
        background-color: #a1bccb;
        padding-left: .75rem;
        margin-right: 1rem;
      }
    }
  }
  .slider {
    .swiper-container {
      width: 76%;
      margin: 0 auto;
    }
  }
  .slider__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    width: 210px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    .nav__side {
      display: block;
      height: 100%;
      overflow-y: auto;
    }
    .nav__list {
      + .nav__list {
        border-top: 1px solid var(--border-color);
        padding-top: 1rem;
        margin-top: 1rem;
      }
    }
  }
  .nav__side {
    position: relative;
    padding: 1rem;
    .nav__link {
      display: block;
      font-size: var(--small-font-size);
      color: var(--text-color);
      line-height: 2;
      &:hover {
        color: var(--gray-blue);
      }
    }
  }
  .section .pro {
    .pro__img {
      height: 160px;
    }
  }
  .footer {
    .container {
      display: flex;
      justify-content: space-between;
    }
    .footer__info {
      flex-direction: column;
      .nav__logo {
        display: block;
        width: 100px;
      }
    }
    .footer__group {
      flex: 1;
      padding-left: 2rem;
      .footer__list {
        text-align: center;
      }
    }
  }
}